<h2>Listing Products</h2>
<table border=1>
<thead>
	<th>Product name</th>
	<th>Product Price </th>
	<th> Product description </th>
	<th> category name </th>

</thead>
<tbody>
<% if @products.empty? %>
	<p> products are not found </p>
	<% else %>
	<tr>
	<% @products.each do |product| %>
	
	<td><%= product.name %></td>
	<td><%= product.price %></td>

	<td><%= product.description %></td>
	
	<td><%= product.category.name %></td>
	</tr>

	<% end %>
	</ol>
	<% end %>
